1.What are data structures, and why are they important?

> data structures are ways to organise and store data effectively.they are important because they allow easy data access,modification and storage,making algorithms faster and more effecient.

2.  Explain the difference between mutable and immutable data types with examples.
>MUTABLE:
Can be changed after creation like list,dict,etc
>>
IMMUTABLE:
cannot be changed like integer, string, tuples,etc

In [10]:
 #mutable:
 lis=[1,2,3]
lis.append(4)
lis

[1, 2, 3, 4]

In [11]:
#immutable:
string="hello"
string[o]="h"

NameError: name 'o' is not defined

3. What are the main differences between lists and tuples in Python?
>List are mutable,slower,use
[ ]
>>
Tuples are immutable,faster,use( )

4.Describe how dictionaries store data.
> dictionaries store data in key value pairsusing hashing mechanism.

5. Why might you use a set instead of a list in Python
> sets store unique values and offer faster lookup for existence.

6. What is a string in Python, and how is it different from a list?
> string are immuttable, used for text while list are mutable , can store any data types.

7. How do tuples ensure data integrity in Python?
> Being immutable,tuples ensure the dat remains unchanged,useful for read only data.

8. What is a hash table, and how does it relate to dictionaries in Python?
> Pyton dictionaries aree implented using hash tables,allowing average lookup time.

9.Can lists contain different data types in Python?
> yes

In [ ]:
a=[1,"two",3.0]
a

10.P Explain why strings are immutable in Python?
> For performance and security
>>
Allow safe sharing and interning

11.What advantages do dictionaries offer over lists for certain tasks?
> dictionaries have fast key access , are better for mapping relationships.

12. Describe a scenario where using a tuple would be preferable over a list.
>When data should not change like coordinates or configuration constants.

13. How do sets handle duplicate values in Python?
> Sets automatically deletes or removes duplicates.

14. How does the “in” keyword work differently for lists and dictionaries?
>list:
>> "in" checks if element exist or not.
>>
dictionaries:
>> "in" checks if key exist or not.

15. Can you modify the elements of a tuple? Explain why or why not.
> No we can't modify elements of tuple as they are immutable.

16. What is a nested dictionary, and give an example of its use case?
> Nested dictionary isa dictionary where values themselves are dictionaries. it is useful in storing complex structure data like records or hierarchies.

In [ ]:
student= {"name":"john","grades":{"maths:",90,"sci:",98}}

17.  Describe the time complexity of accessing elements in a dictionary?
> Accessing elements in pyton dictionary is very fast on average as it uses a hash table.

18. In what situations are lists preferred over dictionaries?
>When order matters or intexing is needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
>  dictionary did not maintain the order of insertion but still retrival is based on keys, not possible.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
> list:
>> it retrieve items by index , slower for searching values.
>>
dictionary:
>> it retrieve items by key , which are faster .

# ***PRACTICAL QUESTIONS***

1. Write a code to create a string with your name and print it.

In [36]:
print("amey")

amey

 2. Write a code to find the length of the string "Hello World"

In [38]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [39]:
print("Python Programming"[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase?

In [40]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple.

In [41]:
print("I like apple".replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [42]:
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [43]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [44]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [45]:
print(['a', 'b', 'c', 'd'][1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [46]:
print([10, 20, 30, 40, 50][::-1])

[50, 40, 30, 20, 10]

11. . Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [16]:
print((100, 200, 300))

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [17]:
print(('red', 'green', 'blue', 'yellow')[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [47]:
print(min((10, 20, 5, 15)))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [19]:
print(('dog', 'cat', 'rabbit').index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [20]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [21]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [22]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [23]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [24]:
print({1, 2, 3}.union({3, 4, 5}))

{1, 2, 3, 4, 5}



20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [25]:
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [26]:
print({"name": "John", "age": 25, "city": "New York"})

{'name': 'John', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [27]:
d = {'name': 'John', 'age': 25}
d['country'] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}



23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [28]:
print({'name': 'Alice', 'age': 30}['name'])

Alice



24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [29]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [30]:
print("city" in {'name': 'Alice', 'city': 'Paris'})

True



26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [31]:
print([1, 2, 3], (4, 5, 6), {"a": 1, "b": 2})

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [32]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[17, 31, 73, 75, 95]

28. Write a code to create a list with strings and print the element at the third index.

In [33]:
lst = ["one", "two", "three", "four", "five"]
print(lst[3])

four

29. Write a code to combine two dictionaries into one and print the result.

In [34]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [35]:
st = ["a", "b", "c", "a"]
print(set(lst))

{'five', 'two', 'four', 'one', 'three'}